 body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(to right, #1F2551, #120B4F);
  background-size: 100% 100%;; 
  min-height: 100vh;
  margin: 0;
}


header{
    display: flex;
    height: 70px;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}

nav {
    position: absolute; /* Takes nav out of flex flow */
    left: 50%; /* Centers nav horizontally */
    transform: translateX(-50%); /* Fine-tunes centering */
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 24.59px;
    word-wrap: break-word
}

.navimg{
    height: 50px;
    margin-right: auto;
}

.bg-text{
    position: fixed;
    height: 90%;
    width: 100%;
    align-items: center;
    margin-top: 0px;
    z-index: -2;
}

.bg-textglobe1{
    position: fixed;
    margin-left: 5vw;
    z-index: -1;

}

.bg-textglobe2{
    position: fixed;
    margin-left: 75vw;
    margin-top: 40vh;
    z-index: -1;
}
.bg-globe{
 display: flex;
 justify-content: left;
 align-items: space-evenly;
 margin-top: 5%;
 margin-left: 5%;
 height: 600px;
 z-index: -1;
}

.home-text{
    color: #FFF;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    margin-top: 14%;
    margin-right: 7%;

}

.card-container {
    display: flex;
    justify-content: center; 
    position: relative; 
    margin-top: 100px;
    margin-bottom: 90px;
    gap: 50px; 

 
  }
  
  .cooperimg {
    margin-left: -95px;
    margin-bottom: 0px;
    height: 30vh;
    padding-bottom: 0px;
    z-index: 3;
    margin-top: 80px;
  }
  
  .card {
    width: 250px;
    background: #151D6B;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 10.445px 28.486px 0px rgba(2, 14, 133, 0.62);
  }

  .card-special {
    width: 250px;
    background: #151D6B;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 10.445px 28.486px 0px rgba(2, 14, 133, 0.62);
  }
  
  .card-image {
   
    width: 100%;
    height: 170px;
    border-radius: 6px 6px 0 0;
    background-image: url("images/temp.png");
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  

  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;

  }
  
  .category:hover {
    cursor: pointer;
  }

  .cooperimgmobile{
    display: none;
  }
  
  .heading {
    font-family: "Abhaya Libre ExtraBold";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    color: lightgray;
    padding-bottom: 15px;
    padding-top: 10px;
    flex-direction: column;
align-items: space-evenly;
 
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .card a, .card-special a, .description-tech a {
    background: #717EF1;
    color: #000A69;
    font-size: 13px;
    text-decoration: none;
    font-family: Abril Fatface;
    font-weight: 400;
    word-wrap: break-word;
    padding: 6px 10px;
    gap: 10px;
    border-radius: 40px;
    border: none;
  }

  .card a:hover, .card-special a:hover, .description-tech a:hover{
    cursor: pointer;
    background: #FF6C6C;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

  .mobile-bg-stack {
    display: none;
  }






/*-----------------------portfolio-----------------------*/

.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 10vh; 
    margin-top: 10vh; 
    margin: 0 auto; /* Center container */
    transform-origin: center top; /* Scale from top center */
    transition: transform 0.3s ease;
  }
  
  .portfolio-card{
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      margin-top: 10vh; 
      align-items: center;
      width: 80%;
      background: #120B4F;
      border-radius: 8px;
      margin-top: 0px;
      margin-bottom: 15vh;
      z-index: 1;
      box-shadow: 0px 10.445px 28.486px 0px rgba(2, 14, 133, 0.62);
  
     
      transform-origin: center top; /* Scale from top center */
      transition: transform 0.3s ease;
  }
  
  .computerstasia{
      position: absolute;
      height: 30vh;
      margin-left: 75%;
      margin-bottom: -25vh;
      z-index: 2;
  }
  
  .portfolio-card h2{
      color: #FFF;
      text-align: center;
      font-family: "Abril Fatface";
      font-size: 57.413px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
     
  }
  
  
  .portfolio-card a{
      border-radius: 40px;
      border: 10px solid #353A84;
      margin: 10vh;
      margin-top: 0;
      overflow: hidden;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
  
  }
  
  .portfolio-card a img{
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 30px;
  }
  
  
  .portfolio-card a:hover img {
      opacity: 0.7;
      cursor: pointer;
  }
  
  .description-section{
      display: flex;
      gap: 2vw;
      border-radius: 40px;
      background: #353A84;
      margin: 8vh;
      margin-top: 0vh;
      padding: 5vh;
  
      color: #FFF;
      text-align: center;
      font-family: "Abhaya Libre ExtraBold";
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
  }
  
  .description-text{
      width: 50%;
  }
  
  .description-tech{
      width: 50%;
  }
  .divider{
      width: 5px;
      height: auto;
      margin-top: 5vh;
      margin-bottom: 5vh;
     
      background: #151D6B;
  }
  
  .techlogos{
      width: 60px;
  height: 60px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  }
  
  .description-tech a{
      border: none;
  }

  .description-section-mobile{
    display: none;
  }

  

@media(max-width: 800px){
    nav a{
        font-size: 10px;
    }
    body{
        background-size: 101% 100%;; 
        min-height: 100vh;
        margin: 0 1%;
    }
    .bg-text{
        width: 100vw;
        height: 40vh;
        align-items: center;
       
    }
    .bg-globe{
        height: 30vh;
    }
    .home-text{
        font-size: 3vw;
        margin-top: 14.5vh;
        margin-right: 5vw;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }
    .card, .card-special{
        height: 40vh;
    }

    .cooperimgmobile{
        display: block;
        height: 20vh;
        margin-left: 40%;
        margin-top: -30%;
        z-index: 2;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

     .cooperimg{
     
        display: none;
       
    } 

    .bg-text {
        display: none; 
      }
      
      .mobile-bg-stack {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; 
        z-index: -1;
      }
      
      .mobile-bg-stack img {
        width: 100%;
        height: 30vh;
        margin-top: 15vh;
      }





      .portfolio-card h2{
        font-size: 20px;
        font-weight: 200;
       
       
    }



    .portfolio-card a{
        border-radius: 20px;
        border: 5px solid #353A84;
        margin: 3vh;
        margin-top: 0;
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   
    
    }
    
    .portfolio-card a img{
        border-radius: 10px;
    }

    .description-section{
        display: none;
    }

    .description-section-mobile{
        display: flex;
        background: #353A84;
        color: #FFF;
        text-align: center;
        font-family: "Abhaya Libre ExtraBold";
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        flex-direction: column;
        border-radius: 20px;
        margin: 3vh;
        padding: 3vh;
        font-size: 10px;
        font-weight: 500;
    }

    .description-tech{
        width: 100%;
    }

    .description-text{
        width: 100%;
    }
    
  
    .mobile-divider{
        width: 220px;
        height: 2px;
        margin-top: 5vh;
        margin-bottom: 5vh;
       
        background: #151D6B;
      
    }
    
    .techlogos{
        width: 30px;
    height: 30px;
    }


    .description-tech a {
        font-size: 10px;
        font-weight: 400;
        word-wrap: break-word;
        padding: 2px 8px;
        gap: 10px;
        border-radius: 40px;
        border: none;
      }

    .portfolio-card-mobile{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-top: 10vh; 
        align-items: center;
        width: 80%;
        background: #120B4F;
        border-radius: 8px;
        margin-top: 0px;
        margin-bottom: 15vh;
        z-index: 1;
        box-shadow: 0px 10.445px 28.486px 0px rgba(2, 14, 133, 0.62);
    
       
        transform-origin: center top; /* Scale from top center */
        transition: transform 0.3s ease;
    }

    .computerstasia{
      
        height: 15vh;
  
    }
    
}



