 body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(to right, #1F2551, #120B4F);
  background-size: 100% 100%;; 
  min-height: 100vh;
  margin: 0;
}


header{
    display: flex;
    height: 70px;
    text-align: center;
    align-items: center;
    padding: 0 20px;
}

nav {
    position: absolute; /* Takes nav out of flex flow */
    left: 50%; /* Centers nav horizontally */
    transform: translateX(-50%); /* Fine-tunes centering */
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 24.59px;
    word-wrap: break-word
}

.navimg{
    height: 50px;
    margin-right: auto;
}

.bg-text{
    position: fixed;
    height: 90%;
    width: 100%;
    align-items: center;
    margin-top: 0px;
    z-index: -2;
}

.bg-globe{
 display: flex;
 justify-content: left;
 align-items: space-evenly;
 margin-top: 5%;
 margin-left: 5%;
 height: 600px;
 z-index: -1;
}

.home-text{
    color: #FFF;
    font-family: "Abhaya Libre ExtraBold";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    margin-top: 14%;
    margin-right: 7%;

}

.card-container {
    display: flex;
    justify-content: center; /* Centers the card group */
    position: relative; /* Needed for absolute Cooper */
    margin-top: 100px;
    margin-bottom: 90px;
    gap: 50px; /* Spacing between cards */
  }
  
  .cooperimg {
    position: absolute; /* Takes Cooper out of flex flow */
    left: 140px; /* Distance from left edge */
    top: 50%;
    transform: translateY(-50%); /* Vertically centers Cooper */
    width: 150px;
    height: auto;
    z-index: 2;
  }
  
  .card {
    width: 250px;
    background: #151D6B;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 10.445px 28.486px 0px rgba(2, 14, 133, 0.62);
  }
  
  .card-image {
   
    width: 100%;
    height: 170px;
    border-radius: 6px 6px 0 0;
    background-image: url("images/temp.png");
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;

  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-family: "Abhaya Libre ExtraBold";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    color: lightgray;
    padding: 7px;

    flex-direction: column;
align-items: space-evenly;
 
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .card button {
    background: #717EF1;
    color: #000A69;
    font-size: 13px;
    font-family: Abril Fatface;
    font-weight: 400;
    word-wrap: break-word;
    
    padding: 6px 10px;
    gap: 10px;
    border-radius: 40px;
    border: none;
  }

  .card button:hover{
    cursor: pointer;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

@media(max-width: 800px){
    nav a{
        font-size: 10px;
    }
    body{
        background-size: 101% 100%;; 
        min-height: 100vh;
        margin: 0 1%;
    }
    .bg-text{
        width: 100vw;
        height: 40vh;
        align-items: center;
       
    }
    .bg-globe{
        height: 30vh;
    }
    .home-text{
        font-size: 3vw;
        margin-top: 14.5vh;
        margin-right: 5vw;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .card{
        height: 40vh;
        
    }

     .cooperimg{
        left: 75vw; 
        top: 27%;
        height: 15vh;
        width: auto;

    } 
}